In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from common import Fonts, Images

In [3]:
df = pd.read_csv("2022_combos.csv")
df

,p1,p2,combos,p1g,p1a,p2g,p2a,p1g_p2a,p2g_p1a,goals
0,Diana Ordóñez,Carson Pickett,4,11,0,1,6,4,0,12
1,Alex Morgan,Taylor Kornieck,3,15,2,3,3,3,0,18
2,Debinha,Kerolin,3,12,4,6,4,2,1,18
3,Sophia Smith,Olivia Lynn Moultrie,3,14,3,3,4,2,1,17
4,Mallory Pugh,Yuki Nagasato,3,11,6,3,3,1,2,14
...,...,...,...,...,...,...,...,...,...,...
191,Brianna Pinto,Ryan Williams,1,1,2,0,3,1,0,1
192,Jodie Taylor,Katie Johnson,1,1,0,0,3,1,0,1
193,Joelle Anderson,Cali Jean Farquharson,1,1,0,0,1,1,0,1
194,Kaleigh Riehl,Kelsey Turnbow,1,1,0,0,2,1,0,1
195,Hannah Betfort,Madison Pogarch,1,1,0,0,2,1,0,1